### This is an example environment configuration file ###

######################################################################
###         DO NOT EXPOSE THIS FILE PUBLICLY AFTER EDITING         ###
######################################################################

# If you modify this file and add information, make sure
# to keep it private and never commit it to a remote repository.
#
# To use this configuration, rename the file to `.env` and update
# the values as needed. 

### DATABASE CONFIGURATION ###
SQLITE_DB_NAME=comet.db
TIMEZONE=Asia/Tokyo

### DISCORD CONFIGURATION ###
AUTHORIZED_SERVER_IDS=1234,5678

# ADMIN USER can use the bot commands without any restrictions.
ADMIN_USER_IDS=1234,5678

# MAX_CHARS_PER_MESSAGE is the maximum number of characters per message.
# Discord has a limit of 2000 characters per message.
MAX_CHARS_PER_MESSAGE=1000

### OPENAI CONFIGURATION ###
AVAILABLE_MODELS=gpt-4o,gpt-4o-mini
MAX_CONTEXT_WINDOW=36384
MAX_TOKENS=4096
OPENAI_API_KEY=your_openai_api_key
SEPARATOR_TOKEN="<|endoftext|>"