### This is an example environment configuration file ###

######################################################################
###         DO NOT EXPOSE THIS FILE PUBLICLY AFTER EDITING         ###
######################################################################

# If you modify this file and add information, make sure
# to keep it private and never commit it to a remote repository.
#
# To use this configuration, rename the file to `.env` and update
# the values as needed.

### DATABASE CONFIGURATION ###
SQLITE_DB_NAME=comet.db
TIMEZONE=Asia/Tokyo

### ====== DISCORD CONFIGURATION ====== ###
AUTHORIZED_SERVER_IDS=1234,5678

# ADMIN USER can use the bot commands without any restrictions.
ADMIN_USER_IDS=1234,5678

# MAX_CHARS_PER_MESSAGE is the maximum number of characters per message.
# Discord has a limit of 2000 characters per message.
MAX_CHARS_PER_MESSAGE=1000

### ANTHROPIC CONFIGURATION ###
ANTHROPIC_API_KEY=your-anthropic_api_key
ANTHROPIC_MAX_CONTEXT_WINDOW=72768
ANTHROPIC_MAX_TOKENS=4096
ANTHROPIC_DEFAULT_TEMPERATURE=0.2
ANTHROPIC_DEFAULT_TOP_P=0.8

### OPENAI CONFIGURATION ###
OPENAI_AVAILABLE_MODELS=gpt-4o,gpt-4o-mini
OPENAI_DEFAULT_TEMPERATURE=0.2
OPENAI_DEFAULT_TOP_P=0.8

GPT_MAX_CONTEXT_WINDOW=36384
GPT_MAX_TOKENS=4096

OMNI_MAX_CONTEXT_WINDOW=72768
OMNI_MAX_TOKENS=8192
